<main>
<div class="container">
  <div class="error-number">500</div>
  <div class="error-answer">Уже фиксим</div>
  <button class="val-btn"><a href="./../Chats/chats.hbs">Назад к чатам</a></button>
</div>
<link rel="stylesheet" href="./error5.css">
</main>
