@import "./../../../configs/index.css";

body {
  background-color: var(--darkGray);
}

.container {
  display: flex;
  flex-direction: row;
  padding: 40px;
  background-color: var(--lightGray);
  width: 30%;
  vertical-align: middle;
  text-align: center;
  margin: 400px;
}

.val-input {
  display: block;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: rgba(220, 221, 225);
  background-clip: padding-box;
  border: 1px solid #000000;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.val-btn {
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--darkBlue);
  background-clip: padding-box;
  border: 1px solid #000000;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.avatar {
  width: 90px;
  height: 90px;
  background-color: rgba(196, 196, 196);
  border: 1px solid #000000;
  border-radius: 45%;
  padding: 10px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  width: 40%;
}

.inputs {
  display: flex;
  flex-direction: row;
}
