body {
  background-color: rgba(120, 129, 153);
}

.chat-wrapper {
  display:flex;
  flex-direction: row;
}

.chats {

  width:30%;
  height: 100vh;
  background-color: rgba(238, 234, 233, 0.54);
}

.one-chat{
  height: 10%;
  background-color: rgba(220. 221, 225);
  border: 1px solid #000000;
border-radius: 0.25rem;
  padding: 5px;

}



.message-wrapper {
  width:70%
}



.messages {
  height: 95vh;

}

.message-form {
height: 5vh;
width:100%;
display: flex;
flex-direction: row;

}



.val-input{

  display: block;
  width: 80%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: rgba(220, 221, 225, 0.54);
  background-clip: padding-box;
  border: 1px solid #000000;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  

}



.val-btn{

width: 30%;
height: calc(2.25rem + 2px);
padding: 0.375rem 0.75rem;
font-family: inherit;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
background-color: rgba(6, 91, 255);
background-clip: padding-box;
border: 1px solid #000000;
border-radius: 0.25rem;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.inbox-message {
  height: 40px;
  width: 200px;
  background-color: aquamarine;
  border: 1px solid #000000;
border-radius: 0.25rem;

}

.outbox-message {
  height: 40px;
  width: 200px;
  background-color:aqua;
  border: 1px solid #000000;
border-radius: 0.25rem;
margin-left: 150px;

}
