<main>
<div class="chat-wrapper">
  <div class="chats">

    <div class="one-chat">
      антон
    </div>
    <div class="one-chat">
      игорь
    </div>



  </div>
  <div class="message-wrapper">
  <div class="messages">
    <div class="inbox-message">Привет, как дела?</div>
    <div class="outbox-message">Привет, нормально</div>

    

    </div>

    <form class="message-form">
        <input class="val-input" type="text" name="message">
<button class="val-btn"><a href="./../User/user.hbs">Enter</a></button>
    </form>


  </div>



</div>
</main>
<link rel="stylesheet" href="./../Chats/chats.css">
