<main>
  <div class="chat-wrapper">
    <div class="chats">

      <div class="one-chat">
        <div class="message-author-name">антон</div>
        <div class="short-message">привет...</div>
      </div>
      <div class="one-chat">
        <div class="message-author-name">игорь</div>
        <div class="short-message">привет, норма...</div>
      </div>

    </div>
    <div class="message-wrapper">
      <div class="messages">
        <div class="inbox-message">Привет, как дела?</div>
        <div class="outbox-message">Привет, нормально</div>
      </div>

      <form class="message-form" id="message-form">
        {{{inputmessage}}}
        {{{button}}}
      </form>

    </div>
  </div>
  <div id="error"></div>
</main>
