<head>
  <title>Ошибка 404</title>
  <link rel="stylesheet" href="./error404.scss" />

</head>

<main>
  <div class="container">
    <div class="error-number">404</div>
    <div class="error-answer">Не туда попали</div>
    {{> button name="Назад к чатам" textlink="./../Error5/error5.hbs"}}
  </div>
</main>
