{{!--
---

stylesheets:
- ./auth.css

scripts:
- ./index.js
--- --}}



<main>
<div class="container">
  <div class="error-number">404</div>
  <div class="error-answer">Не туда попали</div>
  <button class="val-btn"><a href="./../Error5/error5.hbs">Назад к чатам</a></button>
</div>
</main>
<link rel="stylesheet" href="./error404.css">

